$panel-body-padding: 5px;
$panel-heading-padding: 5px 5px;
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  padding-bottom: 50px;
}
.panel {
  margin-bottom: 5px;
}
address {
  margin-bottom: 0;
}
.page-header {
  margin: 5px 0 5px;
}
ul {
  margin-bottom: 0;
}
p {
  margin: 0 0 0;
}
