%nav.navbar.navbar-inverse.navbar-fixed-bottom{role: 'navigation'}
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: File.join(current_page.url, 'resume.pdf')}
          %i.fa.fa-file-pdf-o.fa-lg
          Download the PDF
      %li
        %a{href: data.resume.project.url}
          %i{class: "fa #{data.resume.project.icon} fa-lg"}
          Check out the source
